#chart {
    width: 800px;
    height: 400px;
    background-color: #f7f7f7;
    margin: 25px auto;
}

.bar {
    background-color: #7ED26D;
    width: 20px;
    height: 300px;
    display: inline-block;
    margin-right: 15px;

}